/* Start global rules  */
:root {
  --main-color: #5e25ff;
  --sec-color: #7d7d7d;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d8d8d8;
  /*font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Updock", cursive;
  */
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End global rules  */

