/* Start global rules  */
:root {
  --main-color: #2f89fc;
  --sec-color: #8f8f8f;
  --body-color: #0e0e0e;
  --padding-section: 100px;
}

html {
  scroll-behavior: smooth;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  background: var(--body-color);
}

body:before {
  position: fixed;
  top: 500px;
  left: -100px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  transform: rotate(20deg);
}

body:after {
  position: fixed;
  top: -150px;
  right: -50px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 600px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  transform: rotate(-30deg);
}

@media (max-width: 480px) {
  body:before {
    top: 450px;
    left: -200px;
    bottom: 0;
  }

  body:after {
    top: -290px;
    right: -120px;
    bottom: 0;
  }
}

h1 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End global rules  */
/* Start Components  */
.main-heading {
  color: rgb(210, 210, 210);
  text-align: center;
}
.main-heading h1 {
  letter-spacing: 4px;
  font-size: clamp(2.2rem, 4vw, 5rem);
}
.main-heading p {
  color: rgba(255, 255, 255, 0.295);
  margin: 0 0 55px;

  letter-spacing: 2px;
  text-transform: uppercase;
}
/* End Components  */
/* Start Header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  position: relative;
  top: 30px;
}

.toggle-btn {
  background-color: inherit;
  position: relative;
  display: block;
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  z-index: 99;
}

.toggle-btn .line {
  display: block;
  width: 70%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
}

.toggle-btn .line:first-of-type {
  top: 35%;
}

.toggle-btn .line:nth-of-type(2) {
  top: 50%;
}

.toggle-btn .line:last-of-type {
  top: 65%;
}

.toggle-btn.active .line:first-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.toggle-btn.active .line:nth-of-type(2) {
  opacity: 0;
}

.toggle-btn.active .line:last-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn.active + .navigation {
  background-color: rgba(0, 0, 0, 95%);
  visibility: visible;
  transition: 0.5s ease;
}

.toggle-btn:not(.active) + .navigation {
  transition: 0.8s ease;
}

.navigation ul {
  list-style: none;
  font-size: 2.5rem;
  line-height: 200%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

@media (max-width: 767px) {
  .navigation ul {
    font-size: 1.9rem;
  }
}

.navigation ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navigation ul li {
  padding: 0 20px;
  transform: translateX(-100vw);
  transition: 0.5s, background-color 0.1s ease;
}

.navigation ul li:hover {
  background-color: #2f89fc;
}

.navigation ul li:nth-of-type(1) {
  transition-delay: 0s;
}

.navigation ul li:nth-of-type(2) {
  transition-delay: 0.15s;
}

.navigation ul li:nth-of-type(3) {
  transition-delay: 0.3s;
}

.navigation ul li:nth-of-type(4) {
  transition-delay: 0.45s;
}

.toggle-btn.active + .navigation ul li {
  transform: translateX(0);
}

/* End Header  */
/* Start Landing  */
.landing {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-image: url(../images/landing.png);
  background-size: cover;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 75%);
}

.landing .intro {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: fit-content;
  text-align: center;
  color: white;
}

.landing .intro span {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.5rem, 3vw, 5rem);
  font-weight: bold;
  color: var(--main-color);
}

.landing .intro h1 {
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: normal;
  padding: 0 10px;
}

.landing .intro p {
  font-size: clamp(1rem, 1.5vw, 5rem);
  font-weight: normal;
}

.landing .intro .aa {
  position: relative;
  display: inline-block;
  width: fit-content;
  top: 15px;
  margin: 0 auto;
  padding: 15px 25px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: ease 0.3s;
}

.landing .intro .aa:hover {
  border-color: transparent;
  background-color: var(--main-color);
}

.landing .intro .social {
  position: relative;
  bottom: -120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0 25px;
}
.landing .intro .social a {
  text-decoration: none;
  color: white;
}

.landing .intro .social i {
  cursor: pointer;
  font-size: 30px;
  transition: 0.2s ease;
}

.landing .intro .social i:hover {
  color: var(--main-color);
}

@media (max-width: 767px) {
  .landing {
    background-position: 70%;
  }

  .landing .intro .social {
    gap: 25px;
  }

  .landing .intro .social i {
    font-size: 28px;
  }
}

/* End Landing  */
/* Start About  */
.about {
  padding-top: calc(var(--padding-section) + 20px);
  padding-bottom: var(--padding-section);
}
.about .main-heading {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .about .main-heading {
    display: none;
  }
}
@media (max-width: 768px) {
  .about {
    padding-top: calc(var(--padding-section));
  }
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.about .container .image {
  position: relative;
  flex-basis: 30%;
}

.about .container .image img {
  height: 400px;
}

.about .container .image .rec {
  position: absolute;
  width: 310.14px;
  height: 375px;
  top: -45px;
  left: 45px;
  border: 15px solid var(--main-color);
  z-index: -1;
}

.about .container .content {
  flex-basis: 60%;
  position: relative;
}

.about .container .content h1 {
  font-size: 150px;
  color: rgb(255, 255, 255, 13%);
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: -1;
  top: -75px;
  right: 190px;
}

.about .container .content h2 {
  font-weight: normal;
  letter-spacing: 1px;
  color: #e6e6e6;
}

.about .container .content p {
  font-weight: normal;
  font-size: 18px;
  margin-top: 50px;
  letter-spacing: 1px;
  line-height: 1.8;
  font-weight: 400;
  color: var(--sec-color);
}

.about .container .content .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .container .content .box .list ul.first {
  padding-inline-start: 0;
  list-style: square inside;
  color: var(--sec-color);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.3px;
}

.about .list ul.first > li:not(:first-child) {
  margin: 20px 0;
}

.about .container .content .box .list ul.second {
  padding-inline-start: 0;
  display: inline-block;
  vertical-align: top;
}

.about .list ul.second > li:not(:first-child) {
  margin: 5px 0;
}

.about .container .content .links {
  margin-top: 18px;
}

.about .container .content .links a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 16px;
  padding: 15px 20px;
  position: relative;
}

.about .container .content .links a:first-child {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  transition: 0.3s;
}

.about .container .content .links a:first-child:hover {
  box-shadow: 6px 6px 0 0 var(--main-color);
  background-color: transparent;
}

.about .container .content .links a:last-child {
  border: 2px solid var(--main-color);
  background-color: var(--body-color);
  margin-left: 20px;
  margin-top: 20px;
}

.about .container .content .links a:last-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0s all ease;
  z-index: -1;
}

.about .container .content .links a:last-child:hover:after {
  transform: scale(1.5);
  opacity: 0;
  transition: 0.8s all ease;
}

@media (max-width: 1199px) {
  .about .container .content {
    flex-basis: 55%;
    position: relative;
  }

  .about .list ul.first > li:last-child {
    margin-bottom: -12px;
  }
}

@media (max-width: 991px) {
  .about .container .image {
    position: relative;
    text-align: center;
    flex-basis: 100%;
  }

  .about .container .content {
    margin-top: 90px;
    flex-basis: 100%;
    position: relative;
  }

  .about .container .image .rec {
    transform: translate(-50%, -50%);
    width: 310.14px;
    height: 375px;
    top: 37%;
    left: 57%;
  }
}

@media (max-width: 767px) {
  .about .container .content h1 {
    display: none;
  }

  .about .container .content {
    margin-top: 10px;
  }

  .about .container .content p {
    margin-top: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  .about .container .content li {
    letter-spacing: 0.5px;
  }
}
@media (max-width: 480px) {
  .about .container .image img {
    height: 300px;
  }
  .about .container .image .rec {
    display: none;
  }
}
@media (max-width: 338px) {
  .about .container .image img {
    height: 300px;
  }

  .about .container .image .rec {
    display: none;
  }

  .about .container .content .links a {
    font-size: 14px;
  }

  .about .container .content .box .list ul.second {
    padding-inline-start: 85px;
  }

  .about .list ul.first > li:not(:first-child) {
    margin: 15px 0;
  }

  .about .list:last-child {
    margin: -15px 0;
  }
}

/* End About  */
/* Start Portfolio */
.portfolio {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: #141414ce;
}
/* End Portfolio */
/* Start Contact */
.contact {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.contact .container {
  color: white;
  text-align: center;
}
.contact .container .content a {
  margin: 0 auto;
  padding: 8px 5px;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: var(--sec-color);
  font-size: clamp(1rem, 5.2vw, 1.5rem);
  letter-spacing: 1.5px;
  transition: 0.2s ease;
}
.contact .container .content a:nth-of-type(2) {
  margin-bottom: 45px;
}
.contact .container i {
  font-size: 28px;
  color: rgb(210, 210, 210);
  transition: 0.2s ease;
}
.contact .container .content a:hover,
.contact .container i:hover {
  color: var(--main-color);
}

/* End Contact */
/* Start footer  */
footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c208 C 57.6%2c170.2 172.8%2c16 288%2c19 C 403.2%2c22 460.8%2c215.8 576%2c223 C 691.2%2c230.2 748.8%2c55.2 864%2c55 C 979.2%2c54.8 1036.8%2c231.8 1152%2c222 C 1267.2%2c212.2 1382.4%2c49.2 1440%2c6L1440 560L0 560z' fill='rgba(31%2c 31%2c 31%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c297 C 48%2c325.2 144%2c428.4 240%2c438 C 336%2c447.6 384%2c335.2 480%2c345 C 576%2c354.8 624%2c490 720%2c487 C 816%2c484 864%2c321.2 960%2c330 C 1056%2c338.8 1104%2c517.8 1200%2c531 C 1296%2c544.2 1392%2c423 1440%2c396L1440 560L0 560z' fill='rgba(47%2c 47%2c 47%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  padding: 40px 20px;
  color: #8f8f8f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  footer {
    font-size: 15px;
  }
}
footer span {
  color: var(--main-color);
  font-weight: 600;
}
/* End footer  */
