/* Start global rules  */
:root {
  --main-color: #2f89fc;
  --sec-color: #7d7d7d;
}

html {
  scroll-behavior: smooth;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Updock", cursive;
  */
}
h1 {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
a {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End global rules  */

/* Start Header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  position: relative;
  top: 30px;
}
.toggle-btn {
  background-color: inherit;
  position: relative;
  display: block;
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  z-index: 99;
}
.toggle-btn .line {
  display: block;
  width: 70%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
}
.toggle-btn .line:first-of-type {
  top: 35%;
}
.toggle-btn .line:nth-of-type(2) {
  top: 50%;
}
.toggle-btn .line:last-of-type {
  top: 65%;
}

.toggle-btn.active .line:first-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.toggle-btn.active .line:nth-of-type(2) {
  opacity: 0;
}
.toggle-btn.active .line:last-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn.active + .navigation {
  background-color: rgba(0, 0, 0, 95%);
  visibility: visible;

  transition: 0.5s ease;
}
.toggle-btn:not(.active) + .navigation {
  transition: 0.8s ease;
}

.navigation ul {
  list-style: none;
  font-size: 2.5rem;
  line-height: 200%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .navigation ul {
    font-size: 1.9rem;
  }
}
.navigation ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navigation ul li {
  padding: 0 20px;
  transform: translateX(-100vw);
  transition: 0.5s, background-color 0.1s ease;
}
.navigation ul li:hover {
  background-color: #2f89fc;
}
.navigation ul li:nth-of-type(1) {
  transition-delay: 0s;
}
.navigation ul li:nth-of-type(2) {
  transition-delay: 0.15s;
}
.navigation ul li:nth-of-type(3) {
  transition-delay: 0.3s;
}
.navigation ul li:nth-of-type(4) {
  transition-delay: 0.45s;
}
.toggle-btn.active + .navigation ul li {
  transform: translateX(0);
}

/* End Header  */
/* Start Landing  */
.landing {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-image: url(../images/landing.png);
  background-size: cover;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 75%);
}

.landing .intro {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: fit-content;
  text-align: center;
  color: white;
}
.landing .intro span {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.5rem, 3vw, 5rem);

  font-weight: bold;
  color: var(--main-color);
}
.landing .intro h1 {
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: normal;
  padding: 0 10px;
}
.landing .intro p {
  font-size: clamp(1rem, 1.5vw, 5rem);
  font-weight: normal;
}
.landing .intro a {
  position: relative;
  top: 15px;
  display: inline-block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  border: 1px solid white;
  cursor: pointer;
  transition: ease 0.3s;
}
.landing .intro a:hover {
  border-color: transparent;
  background-color: var(--main-color);
}
.landing .intro .social {
  position: relative;
  bottom: -120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0 25px;
}
.landing .intro .social i {
  cursor: pointer;
  font-size: 30px;
  transition: 0.2s ease;
}
.landing .intro .social i:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  .landing {
    background-position: 70%;
  }
  .landing .intro .social {
    gap: 25px;
  }
  .landing .intro .social i {
    font-size: 28px;
  }
}
/* End Landing  */
