/* Start global rules  */
:root {
  --main-color: #5e25ff;
  --sec-color: #7d7d7d;
}

html {
  scroll-behavior: smooth;
}
/* x-small */

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d8d8d8;
  /*font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Updock", cursive;
  */
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End global rules  */
/* Start Intro  */
.intro {
  position: relative;
  background-color: #0e0e0e;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  animation: myAnim 1s ease 2.3s 1 normal forwards;
  -webkit-animation: myAnim 1s ease 2.7s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.intro .outbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro .box {
  overflow: hidden;
  width: 90px;
  height: 90px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}

.intro .box:nth-child(1) {
  animation: rotate 0.3s ease 1.2s forwards;
  -webkit-animation: rotate 0.3s ease 1.2s forwards;
}

.intro .box:nth-child(2) {
  animation: rotatetwo 0.3s ease 1.2s forwards;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: rotatetwo 0.3s ease 1.2s forwards;
}

.intro .box .line {
  display: inline-block;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 5px;
  height: 100%;
  background-color: white;
}

.intro .box .line:nth-child(2) {
  position: absolute;
  right: 0;
  top: -110%;
}

.intro .box .line:nth-child(1) {
  position: absolute;
  left: 0;
  bottom: -110%;
}

.intro .box:nth-child(1) .line:nth-child(2) {
  animation: anim 0.3s ease forwards;
  -webkit-animation: anim 0.3s ease forwards;
}

.intro .box:nth-child(2) .line:nth-child(2) {
  animation: anim 0.3s ease 0.3s forwards;
  -webkit-animation: anim 0.3s ease 0.3s forwards;
}

.intro .box:nth-child(1) .line:nth-child(1) {
  animation: animtwo 0.3s ease 0.6s forwards;
  -webkit-animation: animtwo 0.3s ease 0.6s forwards;
}

.intro .box:nth-child(2) .line:nth-child(1) {
  animation: animtwo 0.3s ease 0.9s forwards;
  -webkit-animation: animtwo 0.3s ease 0.9s forwards;
}

@keyframes anim {
  100% {
    position: absolute;
    top: 0;
  }
}

@keyframes animtwo {
  100% {
    position: absolute;
    bottom: 0%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
}

@keyframes rotatetwo {
  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
}

.intro .outbox h1 {
  margin: 0;
  font-size: 55px;
  font-weight: normal;
  font-family: "Syne Mono", monospace;
  color: white;
  -webkit-animation: letter 1s ease 0s 1 normal forwards;
  animation: letter 1s ease 0s 1 normal forwards;
  opacity: 0;
  -webkit-animation: letter 1.2s ease 1.5s 1 normal forwards;
}
@keyframes letter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .intro .outbox h1 {
    font-size: 45px;
  }
  .intro .box {
    width: 70px;
    height: 70px;
  }
}
/* End Intro  */
